@keyframes cloud_fadein {
  100% {
    left: 0;
  }
}

@keyframes ham_up_topleft {
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes ham_up_topright {
  100% {
    transform: rotate(45deg);
  }
}

@keyframes ham_up_center {
  100% {
    transform: rotate(-90deg) translateX(-12px);
  }
}

@keyframes ham_up_bottomleft {
  100% {
    transform: scaleX(0.7) translateY(-14.5px);
  }
}

@keyframes ham_up_bottomright {
  100% {
    transform: scaleX(0.7) translateY(-14.5px);
  }
}

.ham_up_topleft {
  animation: ham_up_topleft 0.3s ease 2 0s alternate;
}

.ham_up_topright {
  animation: ham_up_topright 0.3s ease 2 0s alternate;
}

.ham_up_center {
  animation: ham_up_center 0.3s ease 2 0s alternate;
}

.ham_up_bottomleft {
  animation: ham_up_bottomleft 0.3s ease 2 0s alternate;
}

.ham_up_bottomright {
  animation: ham_up_bottomright 0.3s ease 2 0s alternate;
}

@keyframes ham_down_topleft {
  100% {
    transform: scaleX(0.7) translateY(14.5px);
  }
}

@keyframes ham_down_topright {
  100% {
    transform: scaleX(0.7) translateY(14.5px);
  }
}

@keyframes ham_down_center {
  100% {
    transform: rotate(90deg) translateX(-12px);
  }
}

@keyframes ham_down_bottomleft {
  100% {
    transform: rotate(45deg);
  }
}

@keyframes ham_down_bottomright {
  100% {
    transform: rotate(-45deg);
  }
}

.ham_down_topleft {
  animation: ham_down_topleft 0.3s ease 2 0s alternate;
}

.ham_down_topright {
  animation: ham_down_topright 0.3s ease 2 0s alternate;
}

.ham_down_center {
  animation: ham_down_center 0.3s ease 2 0s alternate;
}

.ham_down_bottomleft {
  animation: ham_down_bottomleft 0.3s ease 2 0s alternate;
}

.ham_down_bottomright {
  animation: ham_down_bottomright 0.3s ease 2 0s alternate;
}

.clouds_anime {
  animation: clouds_wrap 0.7s ease 0s forwards;
}

@keyframes clouds_wrap {
  100% {
    transform: translateY(0px);
  }
}

.loading {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 9999;
}

.loading_anime {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 250px;
  width: 200px;
}

.loading_anime .bucket span, .loading_anime .bucket div {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading_anime .bucket span {
  z-index: 10;
  height: 10px;
  background: #575757;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.loading_anime .bucket span:nth-child(1) {
  width: 100px;
}

.loading_anime .bucket span:nth-child(2) {
  width: 90px;
  transform-origin: left;
  transform: rotate(0deg);
  animation: rotate2 1.8s ease 0s forwards;
}

@keyframes rotate2 {
  100% {
    transform: rotate(-110deg);
  }
}

.loading_anime .bucket span:nth-child(3) {
  width: 90px;
  transform-origin: right;
  transform: rotate(0deg);
  animation: rotate3 1.3s ease 0.5s forwards;
}

@keyframes rotate3 {
  100% {
    transform: rotate(110deg);
  }
}

.loading_anime .bucket .water {
  z-index: 7;
  bottom: 10px;
  width: 153px;
  height: 70px;
  background-color: #4fd2e2;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.loading_anime .bucket .screen {
  z-index: 9;
  bottom: 10px;
  width: auto;
  height: 70px;
  background-size: cover;
  transform: translateY(0px);
  background-color: white;
  animation: screen 2s ease-in 1.8s forwards;
}

.loading_anime .cloud {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 240px;
  display: block;
}

.loading_anime .cloud .rain {
  overflow: hidden;
  position: absolute;
  width: 90px;
  height: 240px;
  left: 0;
  right: 0;
  top: 10px;
  margin: auto;
  z-index: 9;
}

.loading_anime .cloud .rain img {
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px;
  height: 500px;
  margin: auto;
  position: absolute;
  animation: rain 2s linear 1.8s forwards;
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.loading_anime .cloud span {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #d6d6d6;
  z-index: 9;
}

.loading_anime .cloud_1 {
  opacity: 0;
  animation: c_opacity 0.2s ease 0.2s forwards;
}

.loading_anime .cloud_2 {
  opacity: 0;
  animation: c_opacity 0.2s ease 0.4s forwards;
}

.loading_anime .cloud_3 {
  opacity: 0;
  animation: c_opacity 0.2s ease 0.6s forwards;
}

.loading_anime .cloud_4 {
  opacity: 0;
  animation: c_opacity 0.2s ease 0.8s forwards;
}

.loading_anime .cloud_5 {
  opacity: 0;
  animation: c_opacity 0.2s ease 1s forwards;
}

.loading_anime .cloud_6 {
  opacity: 0;
  animation: c_opacity 0.2s ease 1.2s forwards;
}

.loading_anime .cloud_7 {
  opacity: 0;
  animation: c_opacity 0.2s ease 1.4s forwards;
}

.loading_anime .cloud_8 {
  opacity: 0;
  animation: c_opacity 0.2s ease 1.6s forwards;
}

.loading_anime .cloud_1 {
  left: 81px;
  top: -1px;
}

.loading_anime .cloud_2 {
  left: 57px;
  top: 3px;
}

.loading_anime .cloud_3 {
  left: 68px;
  top: 12px;
}

.loading_anime .cloud_4 {
  left: 94px;
  top: 20px;
}

.loading_anime .cloud_5 {
  left: 106px;
  top: 5px;
}

.loading_anime .cloud_6 {
  left: 47px;
  top: 17px;
}

.loading_anime .cloud_7 {
  left: 112px;
  top: 25px;
}

.loading_anime .cloud_8 {
  left: 70px;
  top: 25px;
}

@keyframes screen {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-70px);
  }
}

@keyframes c_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes rain {
  90% {
    opacity: 1;
  }
  100% {
    bottom: -280px;
    opacity: 0;
  }
}

.trash {
  animation: trash 2s ease 0.6s forwards;
}

@keyframes trash {
  100% {
    left: 100vw;
  }
}

html::-moz-selection {
  background: #000;
  color: #fff;
}

html::selection {
  background: #000;
  color: #fff;
}

html::-moz-selection {
  background: #000;
  color: #fff;
}

html::selection {
  background: #000;
  color: #fff;
}

img, video {
  pointer-events: none;
}

.load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 9999;
}

.load p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 100px;
  text-align: center;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 1s;
}

header .close {
  right: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 910;
  position: absolute;
  width: 40px;
  height: 40px;
  transition: all 2s;
  transform: rotate(45deg);
}

header .close span {
  background-color: black;
  height: 1px;
  width: 100%;
  content: "";
  position: absolute;
}

header .close span:nth-child(1) {
  left: 0;
  top: 50%;
}

header .close span:nth-child(2) {
  top: 50%;
  left: 0;
  transform: rotate(90deg);
}

header .menu {
  transition: all 1s;
  transform: translateX(0px);
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: white;
}

.hamburger {
  width: 40px;
  height: 30px;
  position: fixed;
  right: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  transition: all 0.3s;
}

.hamburger_span {
  transition: all 0.5s;
}

.hamburger span {
  background-color: black;
  height: 1px;
  content: "";
  position: absolute;
  transition: all 0.5s;
}

.hamburger span:nth-child(1) {
  width: 50%;
  top: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(1) translateY(0) rotate(0deg);
}

.hamburger span:nth-child(2) {
  width: 50%;
  top: 0;
  right: 0;
  transform-origin: left;
  transform: scaleX(1) translateY(0) rotate(0deg);
}

.hamburger span:nth-child(3) {
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center;
  transform: scaleX(1) translateY(0) rotate(0deg);
}

.hamburger span:nth-child(4) {
  width: 50%;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(1) translateY(0) rotate(0deg);
}

.hamburger span:nth-child(5) {
  width: 50%;
  bottom: 0;
  right: 0;
  transform-origin: left;
  transform: scaleX(1) translateY(0) rotate(0deg);
}

.first {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.first video {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.first img {
  width: 600px;
  height: auto;
  position: absolute;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.content {
  max-width: 1140px;
  margin: 150px auto;
}

.content img {
  width: 700px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
}

.content_first, .content_second {
  margin: 70px auto;
  position: relative;
  height: 400px;
}

.content_first_text, .content_second_text {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 10;
  background-color: rgba(241, 241, 241, 0.61);
  padding: 30px;
  width: 45%;
}

.content_first_text {
  left: 0;
  top: 30px;
}

.content_first img {
  top: 0;
  right: 0;
  z-index: 5;
}

.content_second_text {
  right: 0;
  top: 30px;
}

.content_second img {
  top: 0;
  left: 0;
  z-index: 5;
}

.clouds {
  max-width: 1140px;
  margin: 0 auto;
  columns_list: 3;
  rows_list: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-content: center;
}

.clouds_1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

@media all and (-ms-high-contrast: none) {
  .clouds_1 {
    margin-top: 0px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_1 {
    margin-bottom: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_1 {
    margin-left: 0px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_1 {
    margin-right: 20px;
  }
}

.clouds_2 {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}

@media all and (-ms-high-contrast: none) {
  .clouds_2 {
    margin-top: 0px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_2 {
    margin-bottom: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_2 {
    margin-left: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_2 {
    margin-right: 20px;
  }
}

.clouds_3 {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}

@media all and (-ms-high-contrast: none) {
  .clouds_3 {
    margin-top: 0px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_3 {
    margin-bottom: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_3 {
    margin-left: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_3 {
    margin-right: 0px;
  }
}

.clouds_4 {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
}

@media all and (-ms-high-contrast: none) {
  .clouds_4 {
    margin-top: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_4 {
    margin-bottom: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_4 {
    margin-left: 0px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_4 {
    margin-right: 20px;
  }
}

.clouds_5 {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}

@media all and (-ms-high-contrast: none) {
  .clouds_5 {
    margin-top: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_5 {
    margin-bottom: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_5 {
    margin-left: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_5 {
    margin-right: 20px;
  }
}

.clouds_6 {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}

@media all and (-ms-high-contrast: none) {
  .clouds_6 {
    margin-top: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_6 {
    margin-bottom: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_6 {
    margin-left: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_6 {
    margin-right: 0px;
  }
}

.clouds_7 {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}

@media all and (-ms-high-contrast: none) {
  .clouds_7 {
    margin-top: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_7 {
    margin-bottom: 0px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_7 {
    margin-left: 0px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_7 {
    margin-right: 20px;
  }
}

.clouds_8 {
  -ms-grid-column: 2;
  -ms-grid-row: 3;
}

@media all and (-ms-high-contrast: none) {
  .clouds_8 {
    margin-top: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_8 {
    margin-bottom: 0px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_8 {
    margin-left: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_8 {
    margin-right: 20px;
  }
}

.clouds_9 {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}

@media all and (-ms-high-contrast: none) {
  .clouds_9 {
    margin-top: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_9 {
    margin-bottom: 0px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_9 {
    margin-left: 20px;
  }
}

@media all and (-ms-high-contrast: none) {
  .clouds_9 {
    margin-right: 0px;
  }
}

.clouds_cloud {
  cursor: pointer;
  content: "";
  background-color: green;
  height: 200px;
  width: 100%;
  background-size: cover;
}

.clouds_cloud:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.clouds_c0 {
  background-image: url(../material/cloud_1.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.clouds_c1 {
  background-image: url(../material/cloud_2.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.clouds_c2 {
  background-image: url(../material/cloud_3.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.clouds_c3 {
  background-image: url(../material/cloud_4.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.clouds_c4 {
  background-image: url(../material/cloud_5.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.clouds_c5 {
  background-image: url(../material/cloud_6.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.clouds_c6 {
  background-image: url(../material/cloud_7.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.clouds_c7 {
  background-image: url(../material/cloud_8.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.clouds_wrap {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 95vh;
  width: 95vw;
  position: fixed;
  z-index: 9998;
  background-color: #fefefe;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transform: translateY(-100vh);
  transition: all 1s;
}

.clouds_wrap_close {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
}

.clouds_wrap_close span {
  content: "";
  position: absolute;
  height: 1px;
  width: 50px;
  background: black;
  top: 25px;
}

.clouds_wrap_close span:nth-child(1) {
  transform: rotate(45deg);
}

.clouds_wrap_close span:nth-child(2) {
  transform: rotate(135deg);
}

.clouds_contentwrap {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'text image' 'map image';
  padding: 50px;
  grid-gap: 50px;
}

.clouds_contentwrap .text {
  grid-area: text;
}

.clouds_contentwrap .image {
  grid-area: image;
}

.clouds_contentwrap .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.clouds_contentwrap .map {
  grid-area: map;
}

.clouds_contentwrap .map iframe {
  width: 100%;
  height: 100%;
}

footer {
  background: #badae0;
  height: 100px;
  width: 100vw;
  position: relative;
  margin-top: 70px;
}

footer p {
  color: white;
  height: 20px;
  width: 21em;
  font-size: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
