@import "_variable.scss";
@import "_animation.scss";
@mixin maxwidth{
  max-width: 1140px;
  //
}
img,video{
  pointer-events: none;
}
.load{
  position: fixed;
  width: 100vw;height: 100vh;
  background-color: white;
  z-index: 9999;
  p{
    @include center;
    font-size: 100px;
    text-align: center;
    

  }
}
header{
  background-color:rgba(#000000, 0.2);
  height: 100vh;width: 100vw;
  position: fixed;
  top: 0;left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 1s;
  .close{
    right: 30px;
    top: 0;bottom: 0;
    margin: auto;
    z-index: 910;
    position: absolute;
    width: 40px;
    height: 40px;
    transition: all 2s;
    transform: rotate(45deg);
    span{
      background-color: black;
      height: 1px;
      width: 100%;
      content: "";
      position: absolute;
    }
    span:nth-child(1){
      left: 0;
      top: 50%;
    }
    span:nth-child(2){
      top: 50%;
      left: 0;
      transform: rotate(90deg);
    }
  }

  .menu{
    transition:all 1s;
    transform: translateX(0px);
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;height: 100vh;
    background-color: white;
  }
}

.hamburger{
  width: 40px;
  height: 30px;
  position: fixed;
  right: 30px;
  top: 0;bottom: 0;
  margin: auto;
  z-index: 1;
  // overflow: hidden;
  transition: all 1s;

  $anime:0.6s ease 0s forwards;
  $initial:scaleX(1) translateY(0) rotate(0deg);
  span{
    background-color: black;
    height: 1px;
    content: "";
    position: absolute;
    transition: all 0.5s;
  }
  // ---------span:nth-child()---------------------------
  span:nth-child(1){
    transition: all 0.5s;
    width: 50%;top:0;left: 0;
    transform-origin: right;
    transform:$initial;
  }
  span:nth-child(2){
    transition: all 0.5s;
    width: 50%;top: 0;right: 0;
    transform-origin: left;
    transform:$initial;
  }
  span:nth-child(3){
    transition: all 0.5s;
    width: 100%;top: 0;bottom: 0;
    margin: auto;
    transform-origin: center;
    transform:$initial;
  }
  span:nth-child(4){
    transition: all 0.5s;
    width: 50%;bottom:0;left: 0;
    transform-origin: right;
    transform:$initial;
  }
  span:nth-child(5){
    transition: all 0.5s;
    width: 50%;bottom: 0;right: 0;
    transform-origin: left;
    transform:$initial;
  }
  // --------------------------------------------------
}


.first{
  width: 100vw;height: 100vh;
  position: relative;
  top: 0;left: 0;
  overflow: hidden;
  z-index: -1;

  video{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;right: 0;
    top: 0;bottom: 0;
    margin: auto;
    z-index: 1;
    -o-object-fit: cover;
    object-fit: cover;
  }
  img{
    width: 600px;height: auto;
    position: absolute;
    z-index: 2;
    @include center;
  }
}
.content{
  @include maxwidth;
  margin: 150px auto;

  img{
    width: 700px;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
  }
  &_first,&_second{
    margin: 70px auto;
    position: relative;
    height: 400px;
    &_text{
      position: absolute;
      box-shadow: 0 2px 5px rgba(0,0,0,0.26);
      z-index: 10;
      background-color: rgba(241, 241, 241, 0.61);
      padding: 30px;
      width: 45%;
    }
  }

  &_first{
    &_text{
      left: 0;
      top: 30px;
    }
    img{
      top: 0;
      right: 0;
      z-index: 5;
    }
  }
  &_second{
    &_text{
      right: 0;
      top: 30px;
    }
    img{
      top: 0;
      left: 0;
      z-index: 5;
    }
  }
}
.clouds{
  @include maxwidth;
  margin: 0 auto;


  @include grid(1fr 1fr 1fr,1fr 1fr 1fr,40px);
  justify-content: center;
  &_cloud{
    content: "";
    background-color: green;
    height: 200px;
    width: 100%;
    background-size: cover;
    &:hover{
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      transition: -webkit-filter 0.3s;
      transition: filter 0.3s;
      transition: filter 0.3s, -webkit-filter 0.3s;
    }
  }
  &_c1{
    background-image: url(../material/cloud_1.jpg);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  &_c2{
    background-image: url(../material/cloud_2.jpg);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
}
