<!DOCTYPE html>
html(lang="en")
  include includes/header.pug
  
  body
    //- include includes/loading.pug
    header
      div.close
        span
        span
      nav.menu
        nav
          h1
            span 積乱雲
          ul
            li.menu_top Top
            li.menu_about  About
            li.menu_clouds  Clouds
            li 
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="SEKIRANUNをツイートする" data-url="https://usagino.github.io/SEKIRANUN.github.io/" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            
             
             
    main
      div.hamburger
        span.hamburger_span
        span.hamburger_span
        span.hamburger_span
        span.hamburger_span
        span.hamburger_span
      
          
      div.first
        video(loop autoplay poster="material/cloud.jpg")
          source(src="material/cloud.mp4")
        img(src="material/cloud.svg")
        div.first_screen
      div.content
        div.content_first
          div.content_first_text
            p 「積乱雲」は日本の雲を紹介するサイトです。時には海から、時には川から、時には山から発生し空へと立ち上る雲という巨大な存在に私たちは惹かれそれだけのために写真を撮りに赴いたりするほどです。雲という存在は私たちの生活の中で重要なファクターでありなくてはならない存在です。
          img(src="material/content_1.jpg")
            
        div.content_second
          div.content_second_text
            p 
              b 「おうい雲よ　ゆうゆうと　馬鹿にのんきぢやないか」
            p 1884年に生まれた詩人、山村暮鳥が唄った詩です。雲というのは今昔永来、夏の夕暮れのように表現者にとって偉大な存在。宮崎駿監督の作品「風立ちぬ」のポスターの背景にも、このサイトの名前を関する積乱雲が描かれています。戦争という命が儚げに散る時代を風刺しているかのような悠々自適さがそこにはあり、いわば自由の象徴なのです。
          img(src="material/content_2.jpg")
            
      div.clouds
        div.clouds_cloud.clouds_c0
        div.clouds_cloud.clouds_c1
        div.clouds_cloud.clouds_c2
        div.clouds_cloud.clouds_c3
        div.clouds_cloud.clouds_c4
        div.clouds_cloud.clouds_c5
        div.clouds_cloud.clouds_c6
        div.clouds_cloud.clouds_c7
      div.clouds_wrap
        div.clouds_wrap_close
          span
          span
        div.clouds_contentwrap
          div.text
            h1
            div.line
            p
          div.image
            img(src="")
          div.map
            iframe(src=""  frameborder="0" style="border:0" allowfullscreen)

          
    footer
      p Copyright © 2018 積乱雲 All Rights Reserved.
  
  include includes/footer.pug
