div.loading
  div.loading_anime
    div.bucket
      span
      span
      span
      div.water
      div.screen
    div.cloud
      div.rain
        img(src="material/rain.svg")
      span.cloud_1
      span.cloud_2
      span.cloud_3
      span.cloud_4
      span.cloud_5
      span.cloud_6
      span.cloud_7
      span.cloud_8
